
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/customBootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  

<div class="container">
  <div class="row">

        
        <!-- APP -->
    <div class="col-8 mx-auto" style="padding-top:2%">
      <div class="card text-center">
        <!-- Tabs -->
        <div class="card-header" style="background-color: #0099CC">
        </div>

        <div class="card-header" style="background-color: #33b5e5; border-top:white solid 3px;">
          <h2 class="text-white">
            <span class="tabHeader">
                Retrieved From DB</span> 
          </h2>
        </div>

        <!-- EDITOR BODY -->
      <div class="card-body">

                      <div class="flex-container" id="editorGrid"> <!-- GRID CONTAINER-->
              <% for(var i=0; i< object.length; i++){ %>
              <% if(object.length == 100 ){%>
               <div class="block border  <%= object[i] %>" style="width: 10%; height: 10%;"></div>
              <% }else{ %>
              <div class="block border  <%= object[i] %>" style="width: 5%; height: 5%;"></div>
               <% } %>  
             <% } %>

            </div>

          
            
        
        </div>

      </div>
     </div>
  </div>




</div>



  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>






