.red{
  background:#ff4444;
}
.blue{
  background:#4285F4;
}
.green{
  background:#00C851;
}
.yellow{
  background:#ffbb33;
}

.white{
  background:white;
}

.black{
  background:black;
}

.block{
  color:red;
  display:inline-block;
  text-align:center;
  width:5%;
}

.border{
border: 1px solid black !important;
}

.flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 35em;
  width: 35em;
  border: 3px solid black;
  box-sizing: border-box;
}
@media only screen and (max-width: 995px) {
    .flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 20em;
  width: 20em;
  border: 3px solid black;
  box-sizing: border-box;
}
}

@media only screen and (max-width: 780px) {
    .flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 15em;
  width: 15em;
  border: 3px solid black;
  box-sizing: border-box;
}
}


h5{
  font-family: 'Open Sans', sans-serif;
}

.archive{
  margin:20px;
}
.archive-body{
  display: inline-flex;
  flex-wrap: wrap;
  height:250px;
  width:250px;
}
#archive-card{
  border:3px solid black;
}
.archive-body{
  border:2px solid black;
}